[Desktop Entry]
Type=Application
Exec=/home/alex/MyPrograms/network_usb.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=network
Name=network
Comment[en_US]=network usb
Comment=network usb
